/* static class */
:root {
    --mainTextColor: #525158;
}
body {
    font-family: Verdana, sans-serif;
    /*background-color: #49b7c5; */
    background-color: #FDE68A;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
p {
    font-size: 12px;
}
h4 {
    text-align: center;
}
input {
    padding: 10px;
    width: 250px;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
/* start button layout */
button {
    padding: 15px 15px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    background-color: #bbd0e4;
    color: var(--mainTextColor);
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #c06f57;
    color: #ffffff;
}
/* end button layout */

/* html class */
.rounded-container {
    width: 80%;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px;
}
/* colored stripe for dividing sections */
.section-divider {
    width: 100%;
    height: 2px;
    margin-top: 30px;
    background: #a73e1f;
}
/* header class */
.title-header {
    display: flex;
    flex-wrap: wrap;
    color: var(--mainTextColor);
    border-top: 2px solid #a73e1f;
    border-bottom: 2px solid #a73e1f;
    justify-content: center;
    margin-bottom: 30px;
}
.title-header img {
    width: 75px;
    height: 75px;
    margin-right: 50px;
}

/* start container info for search */
.container-info {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.getLocationText {
    display: block;
}
.getLocationInput {
    display: block;
}
.getButtonInput {
    display: block;
}
/* end container info for search */

/* start weather results */
#weather-dashboard {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.weather-result {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    background-color: #87ceeb;
    border: 1px solid rgb(176, 174, 179);
    border-radius: 10px;
}
.weather-result p {
    margin-left: 20px;
    font-size: 16px;
}
.weather-result h4 {
    margin-left: 20px;
}
.weather-cards {
    display: flex;
    flex-wrap: wrap;
    background-color: #fdfd96;
    border: 2px solid #a73e1f;
    border-radius: 5px;
    width: 275px;
    height: auto;
    margin: 10px;
}
.weather-cards img {
    display: block;
    margin: 0 auto;
}

h3{
    text-align: center;
}
/* end weather results */